* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #09090a;

  height: 100vh;
}

button {
  /* flex-direction: row;*/
  /* justify-content: center;*/

  width: 216px;
  height: 52px;

  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}
